<div class="row-marketing" ng-controller="SubmitController">
    <h4>Enter Log</h4>
    <form novalidate>
      <textarea maxlegnth="140" ng-model="text"></textarea>
      <br>
      <button type="button" class="btn btn-default" ng-click="happy()">Happy</button>
      <button type="button" class="btn btn-default" ng-click="meh()">Meh</button>
      <button type="button" class="btn btn-default" ng-click="sad()">Sad</button>
    </form>
</div>

<div class="row marketing">
	<h4>Log Entries</h4>
	<div id="entry-list" class="row" ng-controller="ListController">
		<div class="col-md-8">
			<ul class"list-group" ng-repeat="logEntry in logEntries">
				<li class="list-group-item">
					<i class="fa fa-smile-o"></i>{{ logEntry.message }}
				</li>
			</ul>

		</div>
	</div>

</div>
