<div class="row-marketing" ng-controller="SubmitController">
    <h4>Enter Log</h4>
    <form novalidate>
      <textarea maxlegnth="140" ng-model="text"></textarea>
      <br>
      <button type="button" ng-click="happy(text)">Happy</button>
      <button type="button" ng-click="meh(text)">Meh</button>
      <button type="button" ng-click="sad(text)">Sad</button>
    </form>
</div>

<div class="row marketing">
	<div id="entry-list" class="row" ng-controller="ListController">
		<div class="col-md-8" ng-repeat="logEntry in logEntries">
				
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ logEntry.timestamp | date: 'medium' }}
				</div>
				<div class="panel-body">
					<i class="{{ logEntry.rating | face }}"></i>
					&nbsp
					{{ logEntry.message }}
				</div>
			</div>

		</div>
	</div>

</div>
