<div class="row-marketing">
	<div id="entry-submit" class="row" ng-controller="SubmitController">
		<div class="col-md-8">
			<form novalidate>
		  		<textarea class="form-control" rows="3" placeholder="What did you do today?" maxlegnth="140" ng-model="text"></textarea>
		  		<div class="btn-group">
			  		<button type="button" class="btn btn-default" ng-click="happy(text)">
				  		<i class="fa fa-smile-o fa-2x"></i>
			  		</button>
			  		<button type="button" class="btn btn-default" ng-click="meh(text)">
				  		<i class="fa fa-meh-o fa-2x"></i>
			  		</button>
			  		<button type="button" class="btn btn-default" ng-click="sad(text)">
				  		<i class="fa fa-frown-o fa-2x"></i>
			  		</button>
		  		</div>
	  		</form>
  		</div>
	</div>
</div>

<div class="row marketing">
	<div id="entry-list" class="row" ng-controller="ListController">
		<div class="col-md-8" ng-repeat="logEntry in logEntries">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ logEntry.timestamp | date: 'medium' }}
				</div>
				<div class="panel-body">
					<i class="{{ logEntry.rating | face }}"></i>
					&nbsp
					{{ logEntry.message }}
				</div>
			</div>
		</div>
	</div>
</div>
